# Archivo de variables de entorno (claves secretas)
.env

# Ejecutables de Go y compilados
*.exe
*.exe.
*.dll
*.so
*.dylib
ecohortapp
config.json
pronostic.png

# Archivos del sistema
.DS_Store
Thumbs.db